.create-edit-body {
  padding: 6rem 6rem 8rem 6rem;
  margin-top: 15rem;
  grid-column: col-start 3/col-end 10;
  margin-bottom: 6rem;

  .heading-2 {
    text-align: center;
    margin: 2rem auto 6rem auto;
    font-size: 5.4rem;
  }

  .create-edit-form {
    display: grid;
    @include gridTempColumn;
    width: 104rem;
    margin: 0 auto;
    padding: 6rem;

    form {
      grid-column: col-start 1 / col-end 12;
    }
    
  }

  .heading-4 {
    text-align: center;
    margin-bottom: 4rem;
    color: $alternateblue;
    margin-top: -4rem;
  }

  .new-release-fields {
    margin-top: 10rem;
  }

  .uploadpreview {
    margin: 7rem auto;
    display: flex;
    flex-wrap: wrap;

    .heading-4 {
      text-align: center;
      font-size: 2.4rem;
      flex: 0 0 100%;
    }

    .description {
      text-align: center;
      width: 100%;
      font-size: 2rem;
    }

    .upload-btn {
      flex: 0 0 100%;
    }

     
    .fullArticleHeaderPreview {
      min-height: 18rem;
      overflow: hidden;
      margin: 2rem auto;
      max-height: 38rem;
      padding: 0.7rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-shadow: inset 0px 0px 3px 2px rgba(42, 44, 45, 0.07);
      flex: 0 0 100%;

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .articleHeaderPreview {
      min-height: 12rem;
      overflow: hidden;
      margin: 2rem auto;
      max-height: 28rem;
      padding: 0.7rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-shadow: inset 0px 0px 3px 2px rgba(42, 44, 45, 0.07);
      flex: 0 0 100%;
      

      img {
        object-fit: cover;
        object-position: center;
      }
    }


   @include imgPreview(18rem, 38rem);


    .subImagesRow {
      display: flex;
      margin: 5rem auto;
      align-items: stretch;
      height: 34rem;
      justify-content: space-evenly;
      width: 100%;

      .additional-img {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 0 0 25%;

        .imgholder {
          height: 83%;
          border: 3px solid #fff;

          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

  }

  .article-upload-preview {
    margin-top: 14rem;
  }

  .btn-lightblue {
    padding: 0.7rem 1.8rem;
    font-size: 1.6rem;
    float: right;
    letter-spacing: 1px;
    margin-top: 1.5rem;
  }

  .btn-sociallinks {
    float: left;
    margin-bottom: 2rem;
  }

  .btn-submit {
    margin-top: 1rem;
  }

  .errorsmsg {
    margin: 3rem auto;
    text-align: center;
  }

  .sociallinks {
    display: flex;
    align-items: baseline;
  }

  .quill {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
  }

}