

/*
//////////////////////////////      DASHBOARD            /////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
*/

.dashboard {
  margin-top: 7rem;
  height: 85.5vh;

  .dashboardbody {
    height: 40rem;
    margin: 10rem auto;

    .left {
      display: flex;
      flex: 0 0 35%;
    }

    .right {
      padding-left: 14%;
      align-items: flex-start;

      .heading-2 {
        font-size: 5rem;
        margin-bottom: 4rem;

        .profilename {
          color: $alternateblue;
          font-family: $font-heading;
        }
      }

      .btn-lightblue {
        border: 1px solid #fff;
        font-size: 2rem;
      }
    }

  }
}




// .userAvatar {
//   display: flex;
// }


// .userAvatar .avatarHolder{
//   width: 50%;
//   text-align: center;
//   position: relative;
//   padding-bottom: 50%;
//   border-radius: 50%;
//   overflow: hidden;
//   margin: auto;
//   display: block;

// }

// .userAvatar .avatarHolder img{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   -o-object-fit: cover;
//   object-fit: cover;
// }


// .dashInfo h2 {
//   text-align: center;
//   margin-top: 50px;
// }

// .dashInfo .name a {
//   color: #1dade5;
// }

// .dashboardActions {
//   margin: 50px auto;
//   display: block;
//   /* margin-left: 18%; */
//   display: flex;
//     justify-content: center;
// }

// .dashInfo p {
//   text-align: center;
//   font-weight: bold;
//   margin: 20px auto;
// }

// .dashInfo .btn-danger {
//   float: right;
//   margin-right: 23%;
//   font-weight: bold;
//   background: rgba(169, 3, 41, 1);
//   background: -moz-linear-gradient(
//     top,
//     rgba(169, 3, 41, 1) 0%,
//     rgba(148, 2, 36, 1) 100%
//   );
//   background: -webkit-gradient(
//     left top,
//     left bottom,
//     color-stop(0%, rgba(169, 3, 41, 1)),
//     color-stop(100%, rgba(148, 2, 36, 1))
//   );
//   background: -webkit-linear-gradient(
//     top,
//     rgba(169, 3, 41, 1) 0%,
//     rgba(148, 2, 36, 1) 100%
//   );
//   background: -o-linear-gradient(
//     top,
//     rgba(169, 3, 41, 1) 0%,
//     rgba(148, 2, 36, 1) 100%
//   );
//   background: -ms-linear-gradient(
//     top,
//     rgba(169, 3, 41, 1) 0%,
//     rgba(148, 2, 36, 1) 100%
//   );
//   background: linear-gradient(
//     to bottom,
//     rgba(169, 3, 41, 1) 0%,
//     rgba(148, 2, 36, 1) 100%
//   );
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#940224', GradientType=0);
//   border-color: white;
//   padding: 0.485rem 1rem;
// }

// .dashInfo .btn-create {
//   float: right;
//   margin-right: 20%;
//   margin-top: 37px;
// }
