
/*
//////////////////////////////      REGISTER PAGE            /////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
*/


.avatarHeader {
  margin-left: 0;
  margin-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin: 50px 0;
}

.avatarHeader h5 {
  color: #1db1e7;
  text-align: center;
  margin-bottom: 50px;
}

.avatarHeaderPreview img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

