
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(bp-largest) { // width < 1200?
   font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
   }

}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: $default-font-size;
  color: $slateblue;
  line-height: 1.4;
  background-image: url(/assets/img/landing-bg.jpg);
  background-attachment: fixed;
  height: 100%;


  img {
    width: 100%;
  } 
}

a{
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}

ol,
ul {
  list-style: none;
}

input,
textarea,
select {
  outline: 0;
}

.container {
  display: grid;

  @include gridTempColumn;
}


.register.contentbody {
  margin-top: 11rem;
}

.marginspace {
  height: 20rem;
}


