@import "../../../../Styles/sass/abstracts/_variables.scss";


.card-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
  width: 20rem;


  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .icon {
      width: 2.3rem;
      height: 2.3rem;
    }

    .icon-white {
      fill: $white;
    }

    .icon-blue {
      fill: $alternateblue;
    }

    .total{
      font-size: 2.4rem;
      font-weight: bold;
      font-family: $font-display;
    }

    .total-gold {
      color: $lt-orange;
    }

    .total-midnight-blue {
      color: $deepblue;
    }
    
  }
}