.featured-posts {
  margin-top: 8rem;
  grid-column: col-start 2 / col-end 11;
  grid-template-columns: repeat(auto-fill, minmax(31.3rem, 40.7rem));
  justify-content: space-evenly;
  display: grid;
  gap: 2rem;
  padding-bottom: 10rem;


  .featured-entry {

    .featured-entry__label {
      text-align: center;
      margin: 3rem auto;
  
      .heading-4 {
        font-size: 3.9rem;
      }
    }

    .card-post {
      height: auto;
      
      .top {
        flex: 0 0 30rem;
      }

      .bottom {
        flex: 1 1 18rem;

        .btn-select {
          position: absolute;
          top: 38%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }

    }


  }


}

.other-posts {
  margin-top: 8rem;
  grid-column: col-start 2 /col-end 11;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31.3rem, 38rem));
  grid-auto-rows: 48rem;
  gap: 3rem;
  justify-content: center;
  padding: 8rem 0;

  .card-post {
      
    .top {
      flex: 0 0 30rem;

      @include overlay;
      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0 0 0 / 75%);
        flex-direction: column;
        gap: 2rem;

        .check-circle {
          width: 7rem;
        }

        .heading-3 {
          color: #fff;
          width: 75%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    .bottom {
      padding-bottom: 20%;

      .button-group {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
    }

  }
}