.container-home {
  margin: -4rem auto;
  position: relative;
  z-index: 26;

  @include respond (bp-medium) {
    margin: 0 auto;

    // &>* {
    //   width: 85%;
    //   margin: 0 auto;
    // }
  }

  @include respond (bp-small) {

    // &>* {
    //   width: 95%;
    // }
  }

  @include respond (bp-smallest) {

    // &>* {
    //   width: 100%;
    // }
  }
}

.featured-articles {
  position: relative;
  margin-top: -4rem;
  display: flex;
  margin-bottom: 15rem;
  grid-column: 3 / 13;

  @include respond (bp-large) {
    grid-column: 2/14;
  }

  @include respond (bp-medium) {
    display: block;
    margin-top: 4rem;
  }

  @include respond (bp-smallest) {
    grid-column: 1/ 15;
  }

  .featured-article {
    width: 33%;
    height: 48rem;
    // padding-top: 24%;
    position: relative;

    @include respond(bp-largest) {
      height: 41rem;
    }

    @include respond(bp-large) {
      height: 36rem;
    }

    @include respond(bp-medium) {
      width: 55rem;
      height: 50rem;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    @include respond(bp-small) {
      width: 50rem;
      height: 50rem;
    }

    @include respond(bp-smallest) {
      width: 38rem;
      height: 38rem;
    }

    @include respond(bp-tiny) {
      width: 35rem;
      height: 35rem;
    }

    .overlay {
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);

      @include respond(bp-medium) {
        background: rgb(0 0 0 / 39%);
      }
    }

    .cardbg {

      @include respond(bp-medium) {
        object-position: top;
      }
    }

    .card-content {
      position: absolute;
      top: 30rem;

      @include respond(bp-largest) {
        top: 21rem;
      }

      @include respond(bp-large) {
        top: 14rem;
      }

      @include respond(bp-medium) {
        top: 23rem;
      }

      @include respond(bp-small) {
        top: 22rem;
      }

      @include respond(bp-smallest) {
        top: 13rem;
      }


      .heading-3 {

        @include respond(bp-large) {
          font-size: 2.7rem;
        }

        @include respond(bp-medium) {
          font-size: 3.6rem;
        }

        @include respond(bp-smallest) {
          font-size: 3.4rem;
        }
      }

      p {

        @include respond(bp-large) {
          margin-top: 2rem;
        }

        @include respond(bp-medium) {
          line-height: 1.3;
          font-weight: 300;
          font-size: 2.4rem;
        }

        @include respond(bp-smallest) {
          font-size: 2rem;
        }
      }


    }

  }

  .secheading {
    display: none;

    @include respond(bp-medium) {
      display: block;
    }
  }
}

.latest-news {
  margin-bottom: 15rem;
  grid-column: 3/13;

  @include respond(bp-large) {
    grid-column: 2/14;
  }

  /**
    Grid for latest news section articles on home page
  */
  .latest-news-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50rem 45rem;
    gap: 0.2rem;

    @include respond(bp-largest) {
      grid-template-rows: 40rem 35rem;
    }

    /*
      Split into 3 rows with the last article spanning all available columns
    */
    @include respond(bp-large) {
      grid-template-rows: 50rem 45rem 45rem;
    }

    @include respond(bp-medium) {
      grid-template-rows: 38rem 38rem 38rem;
    }

    /*
      Split into 5 rows with each article all available columns
    */
    @include respond(bp-small) {
      grid-template-rows: repeat(5, 43rem);
    }

    .news-item {
      position: relative;
      overflow: hidden;
      padding-top: 40%;

      .card-content {

        .heading-3 {
          font-size: 5rem;
          margin-bottom: 1rem;
        }

        .heading-4 {
          font-size: 3rem;
        }
      }
    }

    /*
      First 2 articles span all available columns on large screens
    */
    .news-item-0 {
      grid-column: 1 / 4;
    }

    .news-item-1 {
      grid-column: 4 / -1;
    }

    .news-item-2,.news-item-3,.news-item-4 {
      padding-top: 55%;

      .card-content {

        .heading-3 {
          font-size: 3.4rem;
          margin-bottom: 1rem;
          @include lineClamp(2);
        }

        .heading-4 {
          font-size: 2.4rem;
        }
      }
    }

    /*
      The next 3 articles (news-item-2, -3, -4) will span a third of the available 
      columns on large screens
    */
    .news-item-2 {
      grid-column: 1 / 3;

      @include respond(bp-large) {
        padding-top: 40%;
        grid-column: 1/4;
      }
    }

    .news-item-3 {
      grid-column: 3 / 5;

      @include respond(bp-large) {
        padding-top: 40%;
        grid-column: 4/7;
      }
    }

    .news-item-4 {
      grid-column: 5 / -1;

      /*
        Adjust the last article to span all available columns on the 
        bp-large breakpoint
      */
      @include respond(bp-large) {
        padding-top: 20%;
        grid-column: 1/-1;

        .card-label-small {
          width: 17.9rem;
          height: 5.3rem;
          font-size: 2rem;
        }

        .card-content {
            
            .heading-3 {
              font-size: 4.4rem;
            }
    
            .heading-4 {
              font-size: 3.4rem;
            }
        }

      }

    }

    @include respond(bp-small) {

      /*
        Adjust all articles so that they span all available columns on the
        row they are in, set the padding top to match for each article, and
        adjust the card label size to match for each article, as well as the headings
      */

      .news-item-0, .news-item-1, .news-item-2, .news-item-3, .news-item-4 {
        grid-column: 1 / -1;
        padding-top: 30%;

        .card-label-small {
          width: 16.5rem;
          height: 5rem;
          font-size: 1.6rem;
        }

        .card-content {

          .heading-3 {
            font-size: 5rem;
            margin-bottom: 1rem;
          }
  
          .heading-4 {
            font-size: 3rem;
          }
        }
      }
    }

  }

}

.new-releases {
  grid-column: 3 / 13;

  @include respond(bp-large) {
    grid-column: 2 / 14;
  }
  
  .new-releases-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 44.5rem;
    margin-bottom: 12rem;
    gap: 0.3rem;

    @include respond(bp-medium) {
      grid-template-columns: 1fr;
      grid-auto-rows: 54.5rem;
      gap: 3.4rem;
    }

    @include respond(bp-medium) {
      .card-label {
        width: 19rem;
        height: 6rem;
        font-size: 2rem;
      }
    }

    @include respond(bp-smallest) {
      grid-auto-rows: 49.5rem;
    }

    .new-release-content {

      @include respond(bp-medium) {

        .sneaker {
          font-size: 4.3rem;
        }
  
        .price-date {
          font-size: 3.4rem;
        }
      }

      @include respond(bp-tiny) {
        .sneaker {
          font-size: 3.8rem;
        }
  
        .price-date {
          font-size: 3rem;
        }
      }

      

    }

    .new-release-footer {

      @include respond(bp-large) {
        padding: 2rem 1rem;
        width: 100%;
      }

      @include respond(bp-medium) {
        padding: 3rem 5rem;
      }

      ul {

        li {
            
          @include respond(bp-large) {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

.latest-releases {
  margin-bottom: 15rem;
  grid-column: 4/13;


  .releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-ver-trad {
      position: relative;
      flex: 0 0 32.5%;

      @include respond (bp-large) {
        flex: 0 0 47rem;
        margin: 0 0.5% 2rem 0.5%;
      }

      @include respond (bp-medium) {
        flex: 0 0 87%;
        margin: 0 0.5% 2rem 0.5%;
      }

      @include respond (bp-small) {
        flex: 0 0 95%;
      }

      .top {
        height: 55%;

        @include respond (bp-large) {
          flex: 0 0 47rem;
          margin: 0 0.5% 2rem 0.5%;
        }

        @include respond (bp-tiny) {
          height: 48%;
        }
      }

      .bottom {

        @include respond (bp-large) {
          padding: 5rem 3rem;
          height: auto;
        }

        @include respond (bp-small) {
          height: 33rem;
        }

        .btn-lightblue {
          position: absolute;
          bottom: 2rem;
          right: 7%;
          padding: 0.7rem 1.5rem;
        }
      }
    }
  }

}

.mostliked {
  margin-bottom: 15rem;
  grid-column: 4/13;

  .likedgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 42rem 37rem;
    grid-gap: 0.2rem;

    @include respond (bp-large) {
      grid-template-rows: 38rem 31.5rem;
    }

    @include respond (bp-medium) {
      grid-template-rows: repeat(5, 42rem);
    }

    .liked-item {
      padding-top: 55%;
    }

    #item-0,
    #item-1 {
      padding-top: 44%;

      @include respond (bp-medium) {
        padding-top: 35%;
      }

      @include respond (bp-smallest) {
        padding-top: 46%;
      }

      @include respond (bp-tiny) {
        padding-top: 57%;
      }

      .heading-3 {
        font-size: 4rem;

        @include respond (bp-medium) {
          font-size: 5rem;
          margin-bottom: 1rem;
        }

        @include respond (bp-smallest) {
          font-size: 4rem;
        }
      }

      .heading-4 {
        font-size: 2.7rem;

        @include respond (bp-medium) {
          font-size: 3.9rem;
          margin-bottom: 1rem;
        }

        @include respond (bp-smallest) {
          font-size: 3.4rem;
        }
      }

      .heading-5 {

        @include respond (bp-medium) {
          font-size: 3.3rem;
        }

        @include respond (bp-smallest) {
          font-size: 2.8rem;
        }
      }
    }

    #item-0 {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;

      @include respond (bp-medium) {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
      }
    }

    #item-1 {
      grid-column: 4 / span 3;
      grid-row: 1 / span 1;

      @include respond (bp-medium) {
        grid-column: 1 / span 6;
        grid-row: 2 / span 1;
      }
    }

    #item-2,
    #item-3,
    #item-4 {

      @include respond (bp-medium) {
        padding-top: 35%;
      }

      @include respond (bp-smallest) {
        padding-top: 46%;
      }

      @include respond (bp-tiny) {
        padding-top: 57%;
      }

      .heading-3 {
        font-size: 3.3rem;

        @include respond (bp-medium) {
          font-size: 5rem;
          margin-bottom: 1rem;
        }

        @include respond (bp-smallest) {
          font-size: 4rem;
        }
      }

      .heading-4 {
        font-size: 2.5rem;

        @include respond (bp-medium) {
          font-size: 3.9rem;
          margin-bottom: 1rem;
        }

        @include respond (bp-smallest) {
          font-size: 3.4rem;
        }
      }

      .heading-5 {

        @include respond (bp-medium) {
          font-size: 3.3rem;
        }

        @include respond (bp-smallest) {
          font-size: 2.8rem;
        }
      }
    }

    #item-2 {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;

      @include respond (bp-medium) {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
      }
    }

    #item-3 {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;

      @include respond (bp-medium) {
        grid-column: 1 / span 6;
        grid-row: 4 / span 1;
      }
    }

    #item-4 {
      grid-column: 5 / span 2;
      grid-row: 2 / span 1;

      @include respond (bp-medium) {
        grid-column: 1 / span 6;
        grid-row: 5 / span 1;
      }
    }


    .likes {
      position: absolute;
      z-index: 40;
      top: 4rem;
      right: 5%;
      width: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 4rem;

      .likescount {
        display: flex;

        p {
          margin: auto;
          color: #fff;
          font-weight: 600;
          font-size: 2.5rem;
          height: 100%;
        }
      }

      .thumb {
        display: flex;
        width: 33%;
      }
    }

  }


}