.post-detail {
  grid-column: col-start 2 / col-end 11;
  margin: 15rem 0;
  display: grid;
  @include gridTempColumn;
  position: relative;

  @include respond(bp-small) {
     grid-column: center-start / center-end;
  }

  .card-detail-view {
    grid-column: col-start 1 / col-end 7;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding-bottom: 8rem;

    @include respond(bp-large) {
      padding-bottom: 3rem;
    }

    @include respond(bp-medium) {
      grid-column: col-start 2/col-end 12;
    }

    @include respond(bp-small) {
      grid-column: full-start / full-end;
    }

    .top {
      height: 61.3rem;
      position: relative;

      @include respond(bp-largest) {
        height: 51.3rem;
      }

      .main-img {
        position: absolute;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }

      .authorHeader {
        position: absolute;
        z-index: 10;
        background: rgb(255 255 255 / 75%);
        backdrop-filter: blur(12px) brightness(1.2);
        width: 100%;
        display: grid;
        grid-template-columns: 16.5rem 1fr;
        gap: 5rem;
        height: 8.8rem;
        align-items: center;

        .avatar {
          width: 5.5rem;
          height: 5.5rem;
          justify-self: end;
        }

        .name-date {

          .name {
            font-size: 2.4rem;
            font-weight: 600;
            color: $midnightblue;
            margin-bottom: 0.5rem;
          }

          .date {
            font-size: 1.6rem;
            color: $alternateblue;
            font-family: $font-primary;
          }
        }
    }

      
    }

    .bottom {
      padding: 3rem 10rem 8rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-bottom: 3rem;
      position: relative;

      @include respond(bp-large) {
        padding: 3rem 6rem 5rem;
      }

      .heading-2 {
        font-size: 3.4rem;
      }

      
      .postedit {
        position: absolute;
        right: 7rem;
        top: 2rem;
        
        .editbtn {
          width: 5.2rem;
          display: flex;
          box-shadow: 3px 3px 2px 0px rgba(63, 140, 223, 0.13);
          border-radius: 50%;
          padding: 1.4rem;
        }
      }
      
      .actions {
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
        width: fit-content;
        display: flex;
        gap: 4rem;

        .likes {
          display: flex;
          align-items: center;
          gap: 1.8rem;
        }

        .unlikes {
          display: flex;
          flex: 0;
        }

        .commentsnumber {
          display: flex;
          gap: 2.2rem;
        }

      }
    }
  }

  .relatedposts {
    grid-column: col-start 9/col-end 12;
    height: fit-content;
    padding: 3rem;

    @include respond(bp-medium) {
      grid-column: col-start 2/col-end 12;
      margin-top: 5rem;
    }

    @include respond(bp-small) {
      grid-column: full-start / full-end;
    }

    .heading-3 {
      text-align: center;
      margin-bottom: 3rem;
    }

    .related-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      margin-bottom: 3rem;

      @include respond(bp-medium) {
        flex-direction: row;
        height: 19rem;
      }

      @include respond(bp-small) {
        height: 15rem;
      }

      .top {
        position: relative;
        padding-bottom: 75%;
        width: 100%;

        @include respond(bp-medium) {
          flex: 0 0 22rem;
          height: 100%;
          position: relative;
          padding: 0;
        }

        @include respond(bp-small) {
          flex: 0 0 17rem;
        }

        img {
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .bottom {

        @include respond(bp-medium) {
          flex: 1;
        }

        .heading-4 {

          @include respond(bp-medium) {
            font-size: 2.4rem;
          }

        }
      }

    }
  }

  .tags {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 7.5rem;
    left: 9rem;

    @include respond(bp-large) {
      bottom: 4.5rem;
      left: 5rem;
    }

    @include respond(bp-tiny) {
      left: 2rem;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      flex: 1 1;
      color: $midnightblue;
      flex-wrap: wrap;
    }

  }

 
}

