
.profile {
  display: grid;
  @include gridTempColumn();

  .fullimageheader {
    grid-column: full-start / full-end;
    height: 67rem;
  }

  
  .userheader {
    grid-column: col-start 3 / col-end 10;
    margin-top: -15rem;
    padding: 6rem 6rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 8rem;
    height: auto;

    @include respond(bp-smallest) {
      grid-template-columns: repeat(1, max-content);
      padding: 6rem 2rem;
      margin-top: -33rem;
      gap: 2rem;
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .avatar {
        width: 14rem;
        height: 14rem;
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.8rem;

      .heading-2 {

        @include respond(bp-smallest) {
          font-size: 5rem;
        }
      }

      p {
        color: $midnightblue;
        font-family: $font-display;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 1px;

        @include respond(bp-smallest) {
          font-size: 3rem;
        }

        .favsneaker, .location {
          color: $alternateblue;
          margin-left: 0.5rem;
        }
      }
    }

    .right {

      .socialLinks {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        a {
          display: flex;
          gap: 1rem;
          align-items: center;

          .icon {
            display: block;
            width: 2.9rem;
            height: 2.9rem;
          }

          .label {
            font-weight: bold;
            color: #144885;
            font-size: 1.5rem;
          }
        }
      }
  
    }

    .profilenav {
      display: flex;
      position: absolute;
      bottom: 0rem;
      width: 100%;
      left: 0;
      justify-content: space-evenly;
      background: linear-gradient(to bottom, #AADDFF 0%, #329ee6 100%);
      padding: 1rem 0;
      color: #fff;
      font-weight: bold;
      font-size: 2.6rem;
      font-family: $font-heading;
      letter-spacing: 1px;

      @include respond(bp-large) {
        font-size: 2.5rem;
        padding: 0.7rem 0;
      }

      @include respond(bp-smallest) {
        font-size: 2.2rem;
      }

      li {
        list-style: none;
        cursor: pointer;
      }
    }
  }

  .tabs {
    grid-column: col-start 3/col-end 10;
    padding: 7rem 0;
    
    .tab-list {
      display: flex;
      justify-content: center;
      gap: 9%;
      padding: 3rem;
      list-style: none;   
    }

    .tab-list-item {
      font-size: 3rem;
      font-weight: bold;
      color: $midnightblue;
      font-family: $font-heading;
      transition: color 300ms linear;
      cursor: pointer;
    }

    .tab-list-active {
      color: $alternateblue;
      transition: color 300ms linear;
    }

    .tab-content {
      margin-top: 8rem;
      min-height: 50rem;
    }
  }

  
}


.profileAbout {
  margin: 8rem auto;
  padding: 5rem 8rem;

  @include respond(bp-medium) {
    padding: 5rem 5rem;
  }

  @include respond(bp-smallest) {
    padding: 5rem 3rem;
  }

  .heading-3 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;

    @include respond(bp-smallest) {
      font-size: 4rem;
    }
  }
}

.profilePosts {

  .posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;
    justify-items: center;
    grid-auto-rows: auto;

    .card-post {
      width: 47rem;

      .top {
        flex: unset;
        position: relative;
        overflow: hidden;
        height: 37rem;
      }

      .bottom {
        background: #fff;
        flex: 1 1;
        padding: 4rem 4rem 8rem;
        position: relative;
      }
    }
  }
  
}

.profileSneakers {

  .sneakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .sneaker-card {
      
      .icon-ellipsis {
        cursor: pointer;
        top: 2rem;
        right: 3rem;
        position: absolute;
        fill: white;
        width: 2.3rem;
        height: 2.3rem;
        z-index: 20;
      }

    }
  }

}

.profile-friends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;

  @include respond(bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(bp-smallest) {
    grid-template-columns: repeat(1, 1fr);
  }

  .friends-card {

    @include respond(bp-smallest) {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 110%;
    }

    .top {
  
      @include respond(bp-large) {
       
        .avatar {
          width: 13.5rem;
          height: 13.5rem;
        }
  
      }

      @include respond(bp-smallest) {
       
        .avatar {
          width: 15.2rem;
          height: 15.2rem;
          bottom: -4rem;
        }

      }
    }

    .bottom {

      @include respond(bp-smallest) {
        bottom: 18%;

        .name {
          font-size: 4rem;
        }

        .city {
          font-size: 3rem;
        }

        .socials {
          bottom: -28%;

          .icon {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }

    }


  }



}