.sneakerdetail {
  display: grid;
  @include gridTempColumn;
  padding-bottom: 6rem;

  & > * {
    grid-column: col-start 3 / col-end 10;

    @include respond(bp-medium) {
      grid-column: col-start 1/col-end 12;
    }
  }

  .fullimageheader {
    height: 68rem;
    position: relative;
    display: flex;
    margin-top: -3rem;
    grid-column: full-start / full-end;

    @include respond(bp-large) {
      height: 52rem;
    }

    @include respond(bp-medium) {
      height: 45rem;
    }

    @include respond(bp-small) {
      height: 40rem;
    }

    @include respond(bp-tiny) {
      height: 35rem;
    }

    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 5;
    }

    .heading {
      position: relative;
      z-index: 1000;
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      h1,h2,h3 {
        color: $white;
      }

      .heading-1 {
        font-size: 7.5rem;
        margin-bottom: 3rem;

        @include respond(bp-medium) {
          font-size: 6.5rem;
          margin-bottom: 2.5rem;
        }

        @include respond(bp-small) {
          font-size: 5.7rem;
          margin-bottom: 2rem;
        }

        @include respond(bp-tiny) {
          font-size: 4.7rem;
        }
      }

      .heading-2 {
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 3rem;

        @include respond(bp-medium) {
          font-size: 4.5rem;
          margin-bottom: 2.5rem;
        }

        @include respond(bp-small) {
          font-size: 4.2rem;
          margin-bottom: 2rem;
        }

        @include respond(bp-tiny) {
          font-size: 3.9rem;
        }
      }

      .heading-3 {
        font-size: 3.6rem;
        margin-bottom: 3rem;

        @include respond(bp-tiny) {
          font-size: 3.3rem;
        }
      }

    }

    .btn-lightblue {

      @include respond(bp-medium) {
        padding: 0.8rem 2.3rem;
        font-size: 1.8rem;
      }

      @include respond(bp-tiny) {
        padding: 0.7rem 1.9rem;
        font-size: 1.5rem;
      }
    }
  }

  .userheader {
    margin-top: -19rem;
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 0%);
    height: 28rem;
    flex-wrap: wrap;

    @include respond(bp-small) {
      flex-direction: row;
      gap: 3rem;
      padding: 2rem;
    }

    .left {
      display: flex;
      flex: 0 0 33%;
      justify-content: center;
      align-items: center;

      @include respond(bp-small) {
        flex: 0 0 100%;
        margin-bottom: 5rem;
      }

      .avatar {
        width: 15rem;
        height: 15rem;
      }

    }

    .middle {
      flex: 0 0 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 0 2rem;

      @include respond(bp-small) {
        flex: 0 0 100%;
        margin-bottom: 2rem;
        text-align: center;
      }

      .sneaker-model {
        font-size: 3.3rem;
      }

      .sneaker-colorway {
        font-size: 2.9rem;
        color: $alternateblue
      }

      .sneaker-year {
        font-size: 2.3rem;
        color: $midnightblue;
      }
    }

    .right {
      flex: 0 0 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 0 2rem;

      @include respond(bp-small) {
        flex: 0 0 100%;
        margin-bottom: 2rem;
        text-align: center;
      }

      .created-by {
        font-size: 3.3rem;
      }

      .user-name {
        font-size: 2.9rem;
        color: $alternateblue;
        margin: 0;
      }

      .posted-date {
        font-size: 2.3rem;
        color: $midnightblue;
      }
    }
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.3rem;
    margin-top: 3.5rem;

    @include respond(bp-smallest) {
      justify-content: space-between;
    }


    .imgholder {
      flex: 0 0 25%;
      margin-bottom: 0.4rem;
      height: auto;
      overflow: hidden;
      border-radius: 8px;
      position: relative;

      @include respond(bp-smallest) {
        flex: 0 0 49%;
      }

      a {
        position: relative;
        padding-bottom: 87%;
        width: 100%;
        display: block;

        img {
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

      }

    }
  }

  .sneakerinfo {
    padding: 5rem 8rem 8rem 8rem;
    position: relative;
    margin-top: 3.5rem;


    @include respond(bp-small) {
      padding: 5rem 5rem 8rem 5rem;
    }

    @include respond(bp-smallest) {
      padding: 5rem 3.5rem 8rem 3.5rem;
    }

    .infoicon {
      width: 8rem;
      margin: 0 auto;
      background-color: white;
      border-radius: 50%;
      padding: 1.4rem;
      box-shadow: 2px 2px 9px 0px rgba(82,85,95,0.12);
    }

    .sneakertext {
      min-height: 20rem;
      width: 75%;
      margin: 5rem auto;

      @include respond(bp-large) {
        width: 90%;
      }
    }



    .actions {
      bottom: 3.3rem;
      right: 4rem;

      @include respond(bp-large) {
        right: 5%;
      }

      @include respond(bp-small) {
        bottom: 2.6rem;
      }
    }
  
    .tags {
      width: 45%;
      bottom: 3rem;
      left: 6rem;

      @include respond(bp-large) {
        left: 6%;
      }

      @include respond(bp-medium) {
         width: 50%;

         ul {
          gap: 1rem;
         }
      }

      @include respond(bp-small) {
        width: 85%;
        bottom: 8rem;
        left: 3rem;
      }
    }
  }

  .sneakeredit {
    position: absolute;
    bottom: 2rem;
    right: 4%;

    .editbtn {
      width: 6.1rem;
      display: flex;
      box-shadow: 3px 3px 2px 0px rgba(63,140,223,0.13);
      border-radius: 50%;
      padding: 1.4rem;
    }
  }

  

  


  
  .related {
    padding: 6rem 3.5rem 8rem;
    margin-top: 5rem;

    & > .heading-3 {
      margin-bottom: 5rem;
      position: relative;
      width: 20rem;
      color: $alternateblue;
      font-size: 3rem;

      @include headerBetweenDashes;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
   

      .card-OverlayType {
        position: relative;
        height: unset;
        box-shadow: 0px 0px 18px 14px rgba(0, 0, 0, 0);
        flex: 1;
        padding-bottom: 24%;

        .card-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;

          .heading-3, .heading-4 {
            text-align: center;
            color: $white;
          }
        }
      }
    }
 
  }

}