.sneakerdetail {

  .fullimageheader {
    height: 68rem;
    position: relative;
    display: flex;
    margin-top: 6rem;

    @include respond(bp-large) {
      height: 52rem;
    }

    @include respond(bp-medium) {
      height: 45rem;
    }

    @include respond(bp-small) {
      height: 40rem;
    }

    @include respond(bp-tiny) {
      height: 35rem;
    }


    .overlay {
      top:0;
      z-index: 10;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(36, 36, 94, 0.30);
    }

    img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 5;
    }

    .heading {
      position: relative;
      z-index: 1000;
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      h1,h2,h3 {
        color: $white;
      }

      .heading-1 {
        font-size: 7.5rem;
        margin-bottom: 3rem;

        @include respond(bp-medium) {
          font-size: 6.5rem;
          margin-bottom: 2.5rem;
        }

        @include respond(bp-small) {
          font-size: 5.7rem;
          margin-bottom: 2rem;
        }

        @include respond(bp-tiny) {
          font-size: 4.7rem;
        }
      }

      .heading-2 {
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 3rem;

        @include respond(bp-medium) {
          font-size: 4.5rem;
          margin-bottom: 2.5rem;
        }

        @include respond(bp-small) {
          font-size: 4.2rem;
          margin-bottom: 2rem;
        }

        @include respond(bp-tiny) {
          font-size: 3.9rem;
        }
      }

      .heading-3 {
        font-size: 3.6rem;
        margin-bottom: 3rem;

        @include respond(bp-tiny) {
          font-size: 3.3rem;
        }
      }

    }

    .btn-lightblue {

      @include respond(bp-medium) {
        padding: 0.8rem 2.3rem;
        font-size: 1.8rem;
      }

      @include respond(bp-tiny) {
        padding: 0.7rem 1.9rem;
        font-size: 1.5rem;
      }
    }
  }

  .sneakeredit {
    position: absolute;
    bottom: 2rem;
    right: 4%;

    .editbtn {
      width: 6.1rem;
      display: flex;
      box-shadow: 3px 3px 2px 0px rgba(63,140,223,0.13);
      border-radius: 50%;
      padding: 1.4rem;
    }
  }

  .sneakerinfo {
    padding: 5rem 8rem 8rem 8rem;
    position: relative;

    @include respond(bp-small) {
      padding: 5rem 5rem 8rem 5rem;
    }

    @include respond(bp-smallest) {
      padding: 5rem 3.5rem 8rem 3.5rem;
    }

    .sneakertext {
      min-height: 20rem;
    }


    .infoicon {
      width: 8rem;
      margin: 0 auto;
      margin-bottom: 6rem;
      background-color: white;
      border-radius: 50%;
      padding: 1.4rem;
      box-shadow: 2px 2px 9px 0px rgba(82,85,95,0.12);
    }

    .actions {
      bottom: 2rem;
      right: 6rem;
    }
  
    .tags {
      width: 45%;
      bottom: 3rem;
    }
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 7rem;

    .imgholder {
      flex: 0 0 24.8%;
      margin-bottom: 0.4rem;
      height: 30rem;
      overflow: hidden;

      @include respond(bp-large) {
        height: 23rem;
      }

      @include respond(bp-medium) {
        height: 28rem;
        flex: 0 0 49%;
        margin-bottom: 0.5rem;
      }

      @include respond(bp-small) {
        height: 24rem;
      }

      @include respond(bp-smallest) {
        height: 20rem;
      }

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .userheader {
    margin-top: 5rem;

    .right {
      .heading-4 {
        color: $alternateblue;
      }
    }
  }

  
  .related {
    padding: 2rem 0;
    margin-top: 5rem;

    .card-ver-trad {
      margin-top: 3rem;

      .top {
        height: 20.5rem;
      }
    }

    .bottom {
      text-align: center;
    }
  }

}