// Color Variables
$babyblue: #76a8f4;
$ltpowderblue:#aaddff;
// $alternateblue: #4ea8e6;
$alternateblue: #5cb3ff;
$skyblue: #5BA6E6;
$deepblue: #0265ba;
$midnightblue: #144885;
$slateblue: #5D789F;
$maintext: #8bacd0;
$orange: #ff9f65;
$dashboard-bg: #d8e1ed;
$dashboard: #eff0f4;
$dashboard-text: #6398d1;
$white: #fff;
$lt-orange: #FFC37E;


$color-gold: #eac48b;
$color-charcoal: #23283f;

$color-text: #6195c9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;

// FONT
$default-font-size: 1.8rem;
// $font-primary: 'Clear Sans', sans-serif;
$font-primary: 'Acumin Pro', sans-serif;

// $font-display: 'League-Gothic', sans-serif;
// // $font-heading: 'TradeGothic', sans-serif;
// $font-heading: 'Barlow Condensed', sans-serif;
// $font-links: 'antarctican-headline', sans-serif;

//ROW
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// FONT VARIABLES
$default-font-size: 1.6rem;
// $font-primary: 'clear sans', sans-serif;
$font-display: bebas-neue-pro, sans-serif;
$font-heading: bebas-neue-pro, sans-serif;
$font-links: bebas-neue-pro, sans-serif;
