.actions {
  position: absolute;
  bottom: 8rem;
  right: 6rem;
  display: flex;
  width: 23rem;
  gap: 1.2rem;

  .heading-3 {
    font-size: 3rem;
    margin-bottom: 0 !important;
  }

  .thumbs, .bubbles {
    width: 2.5rem;
  }

  .likes, .unlikes {
    cursor: pointer;
  }

  .bubbles {
    fill: $alternateblue;
  }

  .thumb-liked {
    fill: $alternateblue;
  }

  .thumb-not-liked {
    fill: $slateblue;
  }

  .likes {
    display: flex;
    flex: 0 0 40%;
    justify-content: space-evenly;
    align-items: center;
  }

  .unlikes {
    display: flex;
    flex: 0 0 20%;
    justify-content: space-around;
    align-items: center;
  }

  .commentsnumber {
    display: flex;
    flex: 0 0 30%;
    justify-content: space-around;
    align-items: center;

    .commenticon {
      width: 40%;
    }
  }
}