.card-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  @include cardshadowlrgBlur;



  .top {
    flex: 0 0 61%;
    position: relative;
    overflow: hidden;

    .card-header {
      position: absolute;
      width: 100%;
      background: rgba(255, 255, 255, 0.744);
      height: 6.6rem;
      display: flex;
      align-items: center;
      padding-left: 3rem;

      border-bottom: 1px solid rgb(255 255 255 / 67%);
      backdrop-filter: blur(4px);

      .author-header {


        .author-name {
          font-size: 2rem;
          margin-bottom: 0.4rem;
          color: $midnightblue;
          font-family: $font-heading;
        }

        .post-date {
          font-size: 1.3rem;
          color: $alternateblue;
          font-weight: bold;
        }
      }

      .open-menu {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        fill: $slateblue;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        right: 3rem;
      }
    }


    .headline {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.6rem;
      background: rgb(31 165 255 / 43%);
      border-top: 2px solid rgb(255 255 255 / 59%);
      backdrop-filter: blur(6px);

      .heading-3 {
        font-size: 2.4rem;
        color: $white;

        a {
          color: inherit;
        }
      }
    }

    .post-image {
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
      }

    }

  }

  .bottom {
    background: $white;
    flex: 1;
    padding: 4rem;
    position: relative;

    .excerpt {
      @include lineClamp(3);
    }
  }


  .close-menu {
    right: 3rem;
    top: 2.1rem;
  }

}

