
/*
/////////////////// ////////// COMMENT STYLES //////////////////////
*/

.commentsarea {
  min-width: 0;
  margin: 20rem auto 0 auto;
  min-height: 260px;
  padding-bottom: 4%;

  .commentsheader {
    background-color: $skyblue!important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: white;
    font-weight: bold;
  }

  .commentForm {
    padding: 20px;
    width: 85%;
    margin: 15px auto;
  
    .form-control {
      min-height: 13rem;
    }
  }
  
  .btn-lightblue  {
    float: right;
    margin-top: 2rem;
  }

  .commentBody:first-of-type {
    padding: 5rem 3rem 1rem 3rem;
  }

  .commentBody {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin: 5rem auto;
      padding: 1rem 3rem;

    @include respond(bp-medium) {
      flex-direction: column;
    }
  
    .commentAvatar {
      display: flex;
      flex: 0 0 25%;
      flex-direction: column;
      align-items: center;
  
      @include createAvatar(10rem);

      .commentName {
        color: $alternateblue;
        font-weight: bold;
        font-size: 1.7rem;
      }
    }
  
    .commentText {
      display: flex;
      align-items: center;

       p {
         flex-basis: 90%;
         height: 75%;
       }

       .btn-delete {
         fill: $orange;
         width: 2.5rem;
         height: 2.5rem;
         cursor: pointer;
       }
    }
  }

}


.postsneakerdetail {
  margin: 0rem auto 0 auto;
}





