.header {
  position: relative;
  height: 92rem;
  display: flex;
  overflow: hidden;
  // padding-top: 9.5rem;
  padding: 9.5rem 3rem 0 3rem;

  @include respond (bp-large) {
    height: 80rem;
  }

  @include respond (bp-medium) {
    height: 75rem;
  }

  @include respond (bp-small) {
    height: 70rem;
  }

  @include respond (bp-smallest) {
    height: 65rem;
  }


  .heading {
    margin: auto;
    position: relative;
    z-index: 5;

    .heading-1 {
      color: #fff;
      font-size: 6rem;
      text-shadow: 2px 2px 3px rgba(10, 78, 139, 0.71);


      @include respond(bp-small) {
        font-size: 4rem;
        line-height: 1.2;
      }
    }

    .heading-2 {
      color: #fff;
      font-size: 6rem;

      @include respond (bp-medium) {
        font-size: 5rem;
      }

      @include respond(bp-small) {
        font-size: 4rem;
        line-height: 1.2;
      }
    }

    .heading-3 {
      color: $color-gold;
      font-size: 4rem;
      font-family: $font-primary;
      font-weight: 400;

      @include respond(bp-medium) {
        font-size: 3rem;
      }

      @include respond(bp-small) {
        font-size: 2.8rem;
      }

      @include respond(bp-smallest) {
        font-size: 2.2rem;
      }

      @include respond(bp-smallest) {
        font-size: 2rem;
      }

    }

    .heading-4 {
      color: $color-gold;
      font-size: 3.5rem;
      font-weight: 400;
      font-family: "Clear Sans", sans-serif;

      @include respond(bp-medium) {
        font-size: 2.5rem;
      }

      @include respond(bp-smallest) {
        font-size: 2rem;
      }
    }

    p {
      color: #fff;
      margin: 2rem auto;
      color: #fff;
      font-size: 125%;
      width: 50%;

      @include respond (bp-large) {
        width: 75%;
      }

      @include respond (bp-medium) {
        width: 80%;
      }

    }

  }


  .picbg {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 70rem;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }


  .overlay {
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
    top: 13rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 82, 101, 0.73);
    z-index: 2;

    @include respond(bp-large) {
      top: 10rem;
    }

  }

}

.header-landing {
  background-image: url("/assets/img/aj12-indigo.jpg");
  background-size: cover;
  background-position: center;

  @include respond (bp-medium) {
    background-image: url("/assets/img/aj12-french-blue-mid.jpg");
  }


  @include overlay(rgb(0 0 0 / 48%));

  @include respond (bp-medium) {
    @include overlay(rgb(0 0 0 / 68%));
  }


  .heading {
    margin: 0 auto;
    position: relative;
    z-index: 50;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond (bp-medium) {
      margin-top: 11rem;
    }
    @include respond (bp-small) {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
    }

    .heading-1 {
      color: #fff;
      font-size: 9.2rem;
      text-shadow: 2px 3px 6px rgb(0 0 0 / 54%);
      margin-bottom: 4rem;

      @include respond (bp-small) {
        font-size: 6rem;
        line-height: 1.2;
        margin-bottom: 3rem;
      }
    }

    p {
      margin: 2rem auto;
      color: #fff;
      font-size: 2.7rem;

    
    }
  }

}