@import '../../../Styles/sass/abstracts/_variables.scss';

.new-release {
  position: relative;
  padding: 16rem 5rem 0 5rem;
  height: 100%;

  .new-release-content {

    .sneaker {
      color: #fff;
      font-size: 3.1rem;
      font-family: $font-heading;
      font-weight: bold;
    }

    .price-date {
      color: #fff;
      font-weight: bold;
      font-size: 2.2rem;

      .price {
        color: rgb(143 212 247);
      }

      .date {
        color: $lt-orange;
      }
    }

  }

  .new-release-footer {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(255 255 255 / 24%) 23%, rgb(255 253 253 / 36%) 100%);
        left: 0;
        width: 70%;
        color: #fff;
        padding: 3rem 2rem;
        backdrop-filter: blur(6px) brightness(144%);
        border-top: 1px solid rgb(255 255 255 / 11%);
        border-right: 1px solid rgb(255 255 255 / 11%);

    

        ul {
          display: flex;
          gap: 2rem;
          margin-bottom: 0.5rem;
          align-items: center;

         

          .label {
            color: $lt-orange;
            font-weight: bold;
          }
        }
  }
}