.sneaker-card {
  padding-bottom: 70%;
  position: relative;

  .card-info {
    position: absolute;
    top: 0;
    width: 100%;

    .info {
      position: relative;
      z-index: 10;
      padding: 36% 7rem 0;
      height: 100%;
      width: 100%;


      .open-menu {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        fill: $white;
        cursor: pointer;
        top: 3rem;
        right: 3rem;
      }

      .model {
        font-size: 4rem;
        color: $white;
        margin-bottom: 0.5rem;
        cursor: pointer;

        a {
          color: inherit;
        }

        @include respond(bp-medium) {
          font-size: 3.1rem;
        }

        @include respond(bp-small) {
          font-size: 4rem;
        }
      }

      .colorway {
        font-size: 3.5rem;
        color: $lt-orange;
        margin-bottom: 1rem;

        @include respond(bp-medium) {
          font-size: 2.5rem;
        }

        @include respond(bp-small) {
          font-size: 3.5rem;
        }
      }

      .year {
        color: $ltpowderblue;
        font-size: 3rem;

        @include respond(bp-medium) {
          font-size: 2.2rem;
        }

        @include respond(bp-small) {
          font-size: 3.2rem;
        }
      }

      .author-header {
        top: 4rem;
        left: 4rem;
      }

      .close-menu {
        top: 3rem;
        right: 3rem;
      }
    }

  }

}