.sneaker-card {

  .info {
    position: relative;
    z-index: 10;
    padding: 22rem 7rem 0 7rem;
    height: 100%;
    width: 100%;

      @include respond(bp-large) {
        padding: 22rem 3rem 0 3rem;
      }
      
    
  
    .open-menu {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      fill: $white;
      cursor: pointer;
      top: 3rem;
      right: 3rem;
    }
  
     .model {
       font-size: 4.5rem;
       color: $white;
       margin-bottom: 0.5rem;

        @include respond(bp-medium) {
          font-size: 3.5rem;
        }

        @include respond(bp-small) {
          font-size: 4.5rem;
        }
     }
  
     .colorway {
       font-size: 4rem;
       color: $lt-orange;
       margin-bottom: 1rem;

        @include respond(bp-medium) {
          font-size: 3rem;
        }

        @include respond(bp-small) {
          font-size: 4rem;
        }
     }
  
     .year {
       color: $alternateblue;
       font-size: 3rem;

        @include respond(bp-medium) {
          font-size: 2.2rem;
        }

        @include respond(bp-small) {
          font-size: 3.2rem;
        }
     }
  
     .author-header {
       top: 4rem;
       left: 4rem;
     }
  
     .close-menu {
      top: 3rem;
      right: 3rem;
     }
  }
}
