.card-ver-overlay { 
  position: relative;
  overflow: hidden;
  padding-top: 35%;

  a{
    font-family: $font-primary;
  }

  
  .likes {
    position: absolute;
    z-index: 40;
    top: 4rem;
    right: 5%;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    transition: opacity 0.63s;

    .likescount {
      display: flex;

      p {
        margin: auto;
        color: #fff;
        font-weight: 600;
        font-size: 2.5rem;
        height: 100%;
      }
    }

    .thumb {
      display: flex;
      width: 33%;
    }
  }



  .cardbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    z-index: 13;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.8) 100%);
    transition: opacity 0.63s;
    opacity: 1;
  }

  .darkeroverlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.8) 100%);

    position: absolute;
    z-index: 13;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transition: opacity 0.63s;
  }

  .card-content{
    position: relative;
    z-index: 15;
    width: 80%;
    color: $white;
    padding-left: 10%;
    opacity: 1;
    transition: opacity 0.63s;
    
    .heading-3 {
      font-size: 3rem;
      color: $white;
    }

    .heading-4 {
      font-weight: 600;
      color: $ltpowderblue;
    }

    .heading-5 {
      font-size: 2.3rem;
      color: $ltpowderblue;
    }


    p {
      font-weight: 600;
      margin-top: 1rem;
      font-size: 1.4rem;
    }

    
  }

  .back-content {
    position: absolute;
    z-index: 25;
    width: 100%;
    color: #fff;
    padding: 0 15%;
    top: 105%;
    transition: top 1s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .heading-3 {
      font-size: 4rem;
      font-weight: 600;
      color: #aaddff;
      text-align: center;
    }

    .heading-4 {
      font-size: 3.4rem;
      font-weight: 600;
      color: #aaddff;
      text-align: center;
    }

    .heading-5 {
      font-size: 2.8rem;
      font-weight: 600;
      color: #aaddff;
      text-align: center;
      margin-bottom: 3rem;
    }

    .back-content-text {
      line-height: 2rem;
      max-height: calc(2rem * 8);
      overflow: hidden;
      padding-right: 0.5rem;
    }

    .back-content-text::before {
      position: absolute;
      content: "...";
    /*   inset-block-end: 0;
      inset-inline-end: 0; */
      bottom: 0;
      right: 0;
    }

    .back-content-text::after {
      content: "";
      position: absolute;
    /*   inset-inline-end: 0; */
      right: 0;
      width: 1rem;
      height: 1rem;
    }

    @include respond(bp-smallest) {
      .heading-3 {
        font-size: 3.4rem;
      }

      .heading-4 {
        font-size: 3rem;
      }

      .heading-5 {
        font-size: 2.5rem;
        margin-bottom: 2.1rem;
      }
    }

    @include respond(bp-tiny) {
      .heading-3 {
        font-size: 3rem;
      }

      .heading-4 {
        font-size: 2.7rem;
      }

      .heading-5 {
        font-size: 2.3rem;
        margin-bottom: 2.1rem;
      }
    }

  }


}

.card-ver-overlay:hover {
  .darkeroverlay {
    opacity: 1;
  }

  .overlay {
    opacity: 0;
  }

  .card-content {
    opacity: 0;
  }

  .likes {
    opacity: 0;
  }

  .back-content {
    top:0;
    opacity: 1;
  }

  @include respond(bp-smallest) {
    .back-content {
      top: 0;
    }
  }
}

.card-ver-overlay-notrans { 
  position: relative;
  overflow: hidden;
  padding-top: 35%;


  .cardbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    z-index: 13;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.8) 100%);
  }

  .card-content{
    position: relative;
    z-index: 15;
    width: 80%;
    color: $white;
    padding-left: 10%;
    
    .heading-3 {
      font-size: 3rem;
      color: $white;
    }

    .heading-4 {
      font-weight: 600;
      color: $ltpowderblue;
    }

    .heading-5 {
      font-size: 2.3rem;
      color: $ltpowderblue;
    }


    p {
      font-weight: 600;
      margin-top: 1rem;
      font-size: 1.4rem;
      font-family: $font-primary;
    }
  }

}


.card-ver-trad {
  height: auto;
  overflow: hidden;

  .top {
    height: 26.5rem;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
    }
 
  }

  .bottom {
    padding: 2rem 3rem;
    height: 23rem;

    .heading-3 {
      color: $deepblue;
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  }

}

