.userheader {
  display: flex;
  height: 28rem;

  @include respond(bp-small) {
    flex-direction: column;
    padding: 3rem 0;
    height: auto !important;
  }

  .left {
    display: flex;
    flex: 0 0 30%;

    @include respond(bp-medium) {
      flex: 0 0 40%;
    }

    @include respond(bp-small) {
      margin-bottom: 2rem;
    }

    .imgholder {
      width: 23rem;
      padding-bottom: 23rem;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      position: relative;

      @include respond(bp-large) {
        width: 20rem;
        padding-bottom: 20rem;
      }

      @include respond(bp-medium) {
        width: 18rem;
        padding-bottom: 18rem;
      }

      @include respond(bp-small) {
        width: 11rem;
        padding-bottom: 11rem;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;

    .heading-3 {
      font-size: 4.8rem;
      margin-bottom: 3rem;

      @include respond(bp-large) {
        font-size: 4.5rem;
      }

      @include respond(bp-medium) {
        font-size: 4rem;
      }

      @include respond(bp-tiny) {
        font-size: 3.5rem;
      }
    }

    .heading-4 {
      font-size: 2.5rem;

      @include respond(bp-medium) {
        font-size: 2.3rem;
      }

      @include respond(bp-small) {
        line-height: 1.3;
      }

      @include respond(bp-tiny) {
        font-size: 2.1rem;
      }
    }

    .authorEmail {
      color: $skyblue;
    }
  }

}

